*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

.smaller_screen_caption {
  display: none;
}

.drawer__toggle {
  display: none;
  visibility: hidden;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  display: flex;
}

/*Left Side Navigation*/

.side_nav_hide_reveal {
  display: none;
}

.side {
  background-color: #374050;
  margin-bottom: 0;
  width: 15%;
}

picture {
  border-bottom: .25vh solid #303949;
}

/*Begin Picture*/

.side__picture {
  background-color: #374050;
  color: #B1BACA;
  display: block;
  font-size: 2vh;
  height: 14vw;
  margin: 0vh;
  padding-bottom: 1vh;
  padding-right: 1.5vh;
  text-align: center;
  width: 100%;
}

#circle-picture {
  -moz-border-radius: 4vw;
  -webkit-border-radius: 4vw;
  background: white;
  border-radius: 4vw;
  height: 8vw;
  margin: 1vw 0 1vh 0; 
  width: 8vw;
}

/*End Picture*/
/*Begin Side Links*/

.side_text_section {
  align-content: left;
  border-bottom: .5vh solid #303949;
  color: #5D6878;
  font-size: 1.8vh;
  overflow: auto;
  padding: 3vh 0 2vh 2vh;
  width: 14.5vw;
}

.side_categories {
  width: 14.5vw;
}

#cadetblue{
  color: #5D6878;
  font-size: 1.8vh;
  padding: 3vh 0 0 2vh;
}

.side__link {
  color: #B1BACA;
  display: block;
  font-size: 1.8vh;
  height: 4vh;
  margin: 1.3vh 0;
  padding-top: 1vh
}

.side__main-home {
  margin-top: 4vh;
}

.side__link:hover {
  background-color: #313949;
  color: white;
  font-style: bold;
}

.checkbox {
  display: block;
  height: 5vh;
}

.checkbox-icon {
  background: url('images/sprites.png');
  display: inline-block;
  height: 16px;
  width: 16px;
}

p {
  display: inline-block;
}

.administrative-icon {
  background-position: 0 0;
}

.checkbox-administrative:hover  .administrative-icon {
  background-position: 0 -50px;
}

.checkbox-administrative:hover  .administrative-text {
  font-style: bold;
}

.design-icon {
  background-position: -150px 0;
}

.checkbox-design:hover  .design-icon {
  background-position: -150px -50px;
}

.checkbox-design:hover  .design-text {
  color: red;
}

.executive-icon {
  background-position: -49.980106353759766px 0;
}

.checkbox-executive:hover  .executive-icon {
  background-position: -50px -49px ;
}

.checkbox-executive:hover  .executive-text {
  color: red;
}

.humanresources-icon {
  background-position: -99.99431228637695px 0;
}

.checkbox-humanresources:hover  .humanresources-icon {
  background-position: -100px -49px ;
}

.checkbox-humanresources:hover  .humanresources-text {
  color: red;
}

/*End Side Links*/
/*Top Section*/

.top {
  background-color: #FFFFFF;
  width: 100%;
}

/*Top Navigation*/

.top__nav {
  background-color: #FFFFFF;
  border-bottom: .4vh solid #F5F5F5;
  float: left;
  height: 7.3vh;
  width: 100%;
}

button {
  border: none;
}

.top__nav__icon {
  background-color: #FFFFFF;
  color: #909399;
  height: 7vh;
  width: 7vw; 
}

.top__nav__icon:hover {
  background-color: #49A4F3;
  color: #FFFFFF;
}

.top__nav__menu {
  border-right: .25vh solid #F5F5F5; 
  float: left;
}

.search__icon {
  color: #ADADB1;
  height: 2vh;
  margin-left: 2vh;
  margin-right: .5vh;
}

.top__nav__search__input {
  border: none;
  margin-top: 1.7vh;
  width: 50%;
}

.top__nav__add__user {
  border-left: .25vh solid #F5F5F5;
  border-right: .25vh solid #F5F5F5;
  float: right;
}

.top__nav__calendar {
  border-right: .25vh solid #F5F5F5;
  float: right;
}

.top__nav__show__all__pages {
  float: right;
}

/*Job Title Section*/

.top__job-title {
  background-color: #FFFFFF;
  display: inline-block;
  height: 18.5vh;
  padding-top: 2vh;
  width: 100%;
}

.job-wrapper { 
  float: left;
  height: 13vh;
  padding-left: 3vh;
  width: 50%;
}

.top__job-title-name {
  color: #8B8E98;
  display: block;
  font-size: 3vh;
  margin: 2vh 0 0vh 0;
}

.top__job-info {
  color: #8B8E98;
  display: inline-block;
  font-size: 2vh;
  height: 4vh;
}

.fa-map-marker {
  color: #8B8E98;
  margin-right: .5vh;
}

.top__job-link {
  color: #49A4F3;
}

.job__title__nav {
  align-items: center;
  display: inline-block;
  float: right;
  font-size: 1.8vh;
  height: 40px;
  margin-right: 3vh;
  margin-top: 2vh;
  width: 40%;
}

.job__title__open__button {
  border-radius: 5vh;
  float: right;
}

#circle-icon {
  -moz-border-radius: 2vh;
  -webkit-border-radius: 2vh;
  border-radius: 2vh;
  border: .25vh solid #EAEAEC;
  color: #8B8E98;
  display: inline-block;
  float: right;
  height: 20px;
  margin: 6% 3% 0 0;
  padding-top: .25vh
  width: 20px;
}

#oval {
  -moz-border-radius: 2vh;
  -webkit-border-radius: 2vh;
  border-radius: 2vh;
  border: .25vh solid #EAEAEC;
  color: #8B8E98;
  display: inline-block;
  float: right;
  height: 20px;
  margin: 6% 3% 0 0;
  width: 50px;
}

.fa-circle {
  color: #32CD32;
  font-size: 1vh;
}

/*Dashboard*/

.dashboard__view__options {
  float: left;
  height: 4vh;
  width: 70vw;
}

.dashboard__view__options-ul {
  color: #AAADB3;
  float: left;
  height: 4vh;
  margin: 0; 
  width: 100%;
}

li {
  font-size: 1.3vh; 
}

.dashboard-view-choice {
  display: inline-block;
  margin-right: 2vh;
  text-align: left; 
}

.dashboard__option-1 {
  border-bottom: .25vh solid #49A3F2;
  color: #374050;
  padding-bottom: 1.2vh;
}

.top__graphs {
  background-color: #EDF2F6;
  height: 32vh;
  width: 100%;
}

.top__figures {
  height: 19vh;
  width: 85vw;
}

.top__left__figures {
  display: inline-block;
  float: left;
  height: 30%;
  text-align: center
}

.top__left__figures__circle__charts {
  float: left;
  height: 16vh;
  margin-top: 15%;
  width: 17vw;
}

.applicants__circle {
  margin-left: 2%;
}

.top__left__applicant__chart {
  border: none;
  float: left;
  height: 15vh;
  width: 15vw;
}

.chart-text {
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  fill: #000;
  font: 16px/1.4em "Montserrat", Arial, sans-serif;
  transform: translateY(0.25em);
}

.chart-number {
  -moz-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  color: #5B6677;
  font-size: 0.6em;
  line-height: 1;
  text-anchor: middle;
  transform: translateY(-0.25em);
}

.chart-label {
  -moz-transform: translateY(0.7em);
  -ms-transform: translateY(0.7em);
  -webkit-transform: translateY(0.7em);
  font-size: 0.2em;
  text-anchor: middle;
  text-transform: uppercase;
  transform: translateY(0.7em);
}

.top__right__figure {
  display: inline-block;
  float: right;
  height: 16vh;
  margin: 4% 4% 2% 0;
  text-align: bottom;
  text-align: center;
  width: 40%;
}

.top__right__figure__bar__chart {
  float: right;
  height: 12.5vh;
  margin-top: 1vh;
  width: 28vw;
}

.top__left__figures__caption {
  background-color: #FAFAFA;
  border-radius: 2vh;
  border: .25vh solid #E1E4E9;
  color: #6A7483;
  display: inline-block;
  float: left;
  font-size: 1.3vh;
}

.top__right__figure__caption {
  background-color: #FAFAFA;
  border-radius: 2vh;
  border: .25vh solid #E1E4E9;
  color: #6A7483;
  display: inline-block;
  font-size: 1.3vh;
  margin-left: 5vh;
  margin-top: 3vh;
}

/*Bottom Section*/

.bottom {
  background-color: #EDF2F6;
  width: 100%;
}

/*Job Table*/

.job__table {
  background-color: #EDF2F6;
  border-radius: .5vh;
  float: left;
  height: 89.5vh;
  padding-left: 2.5vw;
  width: 65%;
}

.table_body {
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-top: .25vh solid #F5F5F5;
  color: #8693A6;
  font-size: 2vh;
  width: 58%;
}

.padding {
  padding-left: 2vh;
}

.job__table td:nth-child(1) {
  width: 30%;
}

.sturdy td:nth-child(2) {
  width: 70%;
} 

.td-header {
  background-color: #727E93;
  border:.25vh solid #727E93;
  box-sizing: content-box;
  color: #FFFFFF;
  font-size: 2vh;
  height: 8vh;
  width: 100%;
}

.table__picture {
  border-bottom: none;
  display: inline-block;
  height: 6vw;
  vertical-align: bottom;
  width: 6vw;
}

.hiring__lead__name {
  display: inline-block;
  margin-left: 1vh
}

#circle-picture__table {
  -moz-border-radius: 2vw;
  -webkit-border-radius: 2vw;
  background: white;
  border-radius: 2vw;
  height: 4vw;
  margin: 1vw; 
  width: 4vw;
}

/*Social Network Section*/

.social{
  align-items: center;
  background-color: #EDF2F6;
  color: #5B6677;
  display: flex;
  flex-direction: column;
  float: right;
  overflow: auto
  padding-right: 2vw;
  width: 35%;
}

.social__button {
  border-radius: .5vh;
  font-size: 2vh;
  height: 6vh;
  margin: 1vh 0;
  padding: 0 3vh;
  width: 26.5vw;
}

.fa-facebook-f {
  color: #FFFFFF;
  display: inline-block;
  float: left;
}

.social__button-facebook {
  background-color: #5070BB;
  color: #FFFFFF;
}

.fa-twitter {
  color: #FFFFFF;
  display: inline-block;
  float: left;
}

.social__button-twitter {
  background-color: #49A8E9;
  color: #FFFFFF;
}

.fa-linkedin-in {
  color: #FFFFFF;
  display: inline-block;
  float: left;
}

.social__button-linkedin {
  background-color: #3782B9;
  color: #FFFFFF;
  margin-bottom: 4vh;
}

.social__h3 {
  font-size: 2.5vh;
  margin: 1vh .5vh;
  overflow: auto;
  width: 26.5vw;
}

.h3-bottom-line {
  border-bottom: .25vh solid #D3DAE1;
}

.inside-h3 {
  font-size: 1.8vh;
}

.h3__icon {
  height: 2vh;
  margin-bottom: .25vh
}

.social__input {
  background-color: #FFFFFF;
  border-bottom-left-radius: 1vh;
  border-top-left-radius: 1vh;
  color: #FFFFFF;
  display: inline-block;
  height: 4vh;
  margin: .25vh -1vh .3vh .25vh;
  width: 21vw;
}

.input__button {
  background-color: #69B8BF;
  border-bottom-right-radius: 1vh;
  border-top-right-radius: 1vh;
  color: #FFFFFF;
  display: inline-block;
  font-size: 2vh;
  height: 4vh;
  margin: 0vh 0vh 3.5vh 0vh;
  padding: 0;
  width: 4vw;
}

.social__input-bottom {
  background-color: #FFFFFF;
  border-radius: 1vh;
  color: #FFFFFF;
  display: inline-block;
  height: 4vh;
  margin: .25vh -1vh .3vh .25vh;
  width: 25vw;
}

/*Begin Media Queries*/
/*First Media Query*/

@media only screen and (max-width: 1250px) and (min-width: 1050px){
  
  html {
    background-color: pink
  }

  .drawer__toggle {
    display: none;
    visibility: hidden;
  }

  .smaller_screen_caption {
    display: none;
  }

  .smaller_screen_caption {
    display: none;
  }
  
  #side__picture-id {
    font-size: 14px;
  }

  .side_text_section {
    font-size: 14px;
  }

  #cadetblue{
    font-size: 12px;
  }

  .side__link {
    font-size: 14px;
  }
}

/*Second Media Query*/

@media only screen and (max-width: 1049px) and (min-width: 920px){
  
  html {
    background-color: red;
  }

  .drawer__toggle {
    display: none;
    visibility: hidden;
  }

  .smaller_screen_caption {
    display: none;
  }
  
  #side__picture-id {
    font-size: 14px;
  }

  .side_text_section {
    font-size: 14px;
    padding: 10px 0 3px 10px;
    width: 150px;
  }

  #cadetblue{
    font-size: 12px;
    padding: 10px 0 3px 10px;
  }

  .side__link {
    font-size: 14px;
  }

  .side {
    width: 150px;
  }

  .side_categories {
    width: 150px;
  }

  .top__job-title-name {
    font-size: 24px;
  }

  .top__job-info {
    font-size: 18px;
  }

  .table_body {
    font-size: 16px;
  }

  .td-header {
  font-size: 16px;
  }

  .social__button {
    font-size: 15px;
  }

  .social__h3 {
    font-size: 20px;
  }

  .inside-h3 {
    font-size: 12px;
  }

  .input__button {
    font-size: 12px;
  }
}

/*Third Media Query*/

@media all and (max-width: 919px) and (min-width: 650px) {
  html {background-color: blue}
    
  .drawer__toggle {
    display: none;
    visibility: hidden;
  }
    
  #side__picture-id {
    font-size: 14px;
  }

  .side_text_section {
    font-size: 14px;
    margin-top: 5px;
    padding: 10px 0 3px 10px;
    width: 150px;
  }

  #cadetblue{
    font-size: 12px;
    padding: 10px 0 3px 10px;
  }

  .side__link {
    font-size: 14px;
  }

  .side {
    width: 150px;
  }

  .side_categories {
    width: 150px;
  }

  .job-wrapper { 
    height: 13vh;
    padding-left: 1vh;
    padding-top: 10px;
    width: 80%;
  }

  .top__job-title {
    padding-top: 0;
  }

  .top__job-title-name {
    font-size: 24px;
    margin-top: 0;
  }

  .top__job-info {
    font-size: 18px;
  }

  .table_body {
    font-size: 16px;
  }

  .td-header {
    font-size: 16px;
  }

  .job__title__nav {
    display: flex;
    flex-direction: column-reverse;
    font-size: 1.8vh;
    height: 160px;
    margin-right: 2vh;
    margin: 4px 0 0 0;
    padding-right: 50px;
    padding-top: 10px;
    width: 20px;
  }

  .job__title__open__button {
    border-radius: 5vh;
    float: right;
  }

  #circle-icon {
    -moz-border-radius: 2vh;
    -webkit-border-radius: 2vh;
    border-radius: 2vh;
    border: .25vh solid #EAEAEC;
    height: 50px;
    margin: 4px 0;
    padding-top: .25vh
    width: 20px;
  }

  #oval {
    -moz-border-radius: 2vh;
    -webkit-border-radius: 2vh;
    border-radius: 2vh;
    border: .25vh solid #EAEAEC;
    height: 50px;
    margin: 4px 0;
    width: 80px;
  }

  .fa-circle {
    color: #32CD32;
    font-size: 1vh
  }

  .dashboard__view__options {
    width: 70%;
  }

  .dashboard__view__options-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  li {
    font-size: 12px; 
  }

  .dashboard__option-1 {
    border-bottom: 2px solid #49A3F2;
    margin-bottom: 8px;
    padding-bottom: 4px;
  }

  .top__graphs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 430px;
    padding: 0%;
    width: 100%;
  }

  .top__figures {
    height: 50%;
    margin: 0%;
    padding: 0%;
    width: 50%;
  }

  .for_small_screen {
    display: flex;
    flex-direction: inherit;
    flex-flow: inherit;
    height: 30%;
    width: 30%;
  }

  .top__left__figures {
    height: 50%;
    margin: 0%;
    padding: 0%;
    width: 100%;
  }

  .top__left__figures__circle__charts {
    height: 130px;
    margin-top: 0%;
    padding: 0%;
    width: 100%;
  }

  .top__left__applicant__chart {
    border: none;
    height: 51%;
    margin-left: 10%;
    padding: 0%;
    width: 100%;
  }

  .forwards__circle {
    margin: 0%;
    padding: 0%;
  }

  .chart-text {
    -moz-transform: translateY(0.25em);
    -ms-transform: translateY(0.25em);
    -webkit-transform: translateY(0.25em);
    fill: #000;
    font: 16px/1.4em "Montserrat", Arial, sans-serif;
    transform: translateY(0.25em);
  }

  .chart-number {
    -moz-transform: translateY(-0.25em);
    -ms-transform: translateY(-0.25em);
    -webkit-transform: translateY(-0.25em);
    font-size: 0.6em;
    line-height: 1;
    text-anchor: middle;
    transform: translateY(-0.25em);
  }

  .chart-label {
    -moz-transform: translateY(0.7em);
    -ms-transform: translateY(0.7em);
    -webkit-transform: translateY(0.7em);
    font-size: 0.2em;
    text-anchor: middle;
    text-transform: uppercase;
    transform: translateY(0.7em);
  }

  .top__right__figure {
    height: 40%;
    margin-left: 10%;
    margin-top: 10%;
    padding: 0%;
    width: 80%;
  }

  .top__right__figure__bar__chart {
    height: 100%;
    margin: 0%;
    padding: 0%;
    width: 100%;
  }

  .top__left__figures__caption {
    border-radius: 2vh;
    color: #6A7483;
    font-size: 1.3vh;
    margin: 0%;
    padding: 0%;
    text-align: center;
  }

  .top__right__figure__caption {
    border-radius: 2vh;
    border: .25vh solid #E1E4E9;
    font-size: 1.3vh;
    margin-top: 3%;
    padding: 0%;
  }

  .social__button {
    font-size: 12px;
  }

  .social__h3 {
    font-size: 15px;
  }

  .inside-h3 {
    font-size: 11px;
  }

  .input__button {
    font-size: 11px;
  }
}

/*Fourth Media Query*/

@media all and (max-width: 649px) and (min-width: 250px) {
  
  html {background-color: green}
    
  body {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
  }

  .drawer__toggle {
    display: block;
    visibility: visible;
  }

  .drawer__toggle:hover {
    background-color: #374050;
    color: #FFFFFF;
  }

  .side {
    display: none;
    visibility: hidden;
  }

  .side>.side__picture {
    background-color: #374050 !important;
    color: #B1BACA !important;
    display: block !important;
    font-size: 14px !important;
    height: 14vw !important;
    margin: 0vh !important;
    padding-bottom: 1vh !important;
    padding-right: 1.5vh !important;
    text-align: center !important;
    visibility: visible !important;
    width: 100% !important;
  }

  .job-wrapper {
    height: 100px;
    padding-left: 1vh;
    width: 75%;
  }

  .top {
    height: 200px;
  }

  .top__nav__icon {
    margin-left: 2px;
    width: 35px;
  }

  .top__nav__search__input {
    width: 30%;
  }

  .bottom {
    margin-top: 500px;
  }

  .top__job-title {
    height: 200px;
    padding-top: 0;
    width: 100%;
  }

  .top__job-title-name {
    font-size: 15px;
    margin-top: 20px;
    width: 75%;
  }

  .top__job-info {
    font-size: 10px;
  }

  .table_body {
    font-size: 10px;
  }

  .td-header {
    font-size: 11px;
  }

  .job__title__nav {
    display: flex;
    flex-direction: row-reverse;
    font-size: 10px;
    height: 75px;
    margin: 1px 0 0 0;
    padding-right: 5px;
    padding-top: 5px;
    width: 25%;
  }

  .job__title__open__button {
    border-radius: 10px;
    float: right;
  }

  #circle-icon {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #EAEAEC;
    height: 25px;
    margin: 0px 4px;
    padding-top: 2px
    width: 100px;
  }

  #oval {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #EAEAEC;
    height: 25px;
    margin: 4px 0;
    width: 50px;
  }

  .fa-circle {
    font-size: 10px;
  }

  .dashboard__view__options {
    width: 100%;
  }

  .dashboard__view__options-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  li {
    font-size: 12px; 
  }

  .dashboard__option-1 {
    border-bottom: 2px solid #49A3F2;
    margin-bottom: 8px;
    padding-bottom: 4px;
  }

  .top__graphs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 400px;
    margin-top: 10px;
    width: 100%;
  }

  .top__figures {
    margin: 0%;
    padding: 0%;
  }

  .for_small_screen {
    display: flex;
    flex-direction: inherit;
    flex-flow: inherit;
    height: 28%;
    width: 28%;
  }

  .top__left__figures {
    height: 50%;
    margin: 0%;
    padding: 0%;
    width: 100%;
  }

  .top__left__figures__circle__charts {
    height: 80px;
    margin-top: 0%;
    padding: 0%;
    width: 100%;*/
    width: 80px;
  }

  .top__left__applicant__chart {
    border: none;
    height: 51%;
    margin-left: 10%;
    padding: 0%;
    width: 100%;
  }

  .forwards__circle {
    margin: 0%;
    padding: 0%;
  }

  .chart-text {
    -moz-transform: translateY(0.25em);
    -ms-transform: translateY(0.25em);
    -webkit-transform: translateY(0.25em);
    fill: #000;
    font: 16px/1.4em "Montserrat", Arial, sans-serif;
    transform: translateY(0.25em);
  }

  .chart-number {
    -moz-transform: translateY(-0.25em);
    -ms-transform: translateY(-0.25em);
    -webkit-transform: translateY(-0.25em);
    font-size: 0.6em;
    line-height: 1;
    text-anchor: middle;
    transform: translateY(-0.25em);
  }

  .chart-label {
    -moz-transform: translateY(0.7em);
    -ms-transform: translateY(0.7em);
    -webkit-transform: translateY(0.7em);
    font-size: 0.2em;
    text-anchor: middle;
    text-transform: uppercase;
    transform: translateY(0.7em);
  }

  .top__right__figure {
    height: 40%;
    margin-left: 10%;
    margin-top: 10%;
    padding: 0%;
    width: 80%;
  }

  .top__right__figure__bar__chart {
    height: 100%;
    margin: 0%;
    padding: 0%;
    width: 100%;
  }

  .top__left__figures__caption {
    border-radius: 1px;
    color: #6A7483;
    font-size: 10px;
    margin: 0%;
    padding: 0%;
    text-align: center;
  }

  .top__right__figure__caption {
    border-radius: 4px;
    border: 1px solid #E1E4E9;
    font-size: 10px;
    margin-top: 3%;
    padding: 0%;
  }

  .job__table {
    width: 100%;
  }

  .social {
    width: 100%;
  }

  .social__button {
    font-size: 12px;
    width: 80%;
  }

  .social__h3 {
    font-size: 15px;
    width: 80%;
  }

  .inside-h3 {
    font-size: 11px;
  }

  .input__button {
    font-size: 11px;
    width: 15%;
  }

  .social__input {
    width: 65%;
  }

  .social__input-bottom {
    width: 80%;
  }
}








  

